*{
  box-sizing: border-box;
}
body{
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat:no-repeat;
  background-color:hsl(225, 100%, 94%);

 

}



.container{
  margin-top:150px;
  
display:flex;
flex-direction: column;
  justify-content: center;
align-items:center;
width:450px;
height:600px;
margin-left:400px;
background-color:white;
border-radius: 15px;
align-items: space-between;





}
.textone {
  position:relative;
  bottom:15px;


  font-size:30px;
  
  font-family: Lexend deca;
  font-weight:bold;
  
}
.texttwo{
  padding-top:10px;
  font-family:Red Hat Display;
  text-align: center;

}
.textthree{
  padding-top:20px;
 display:flex;



  
}
a{
  padding-left:100px;
  padding-top:10px;
  font-weight:bold;
  font-family:Lexend deca;
}
.image-one{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position:relative;
  bottom: 60px;
  

}

.four{
  position: relative;
  top:30px;
  
  width:350px; 
  height:50px;
  background-color:hsl(245, 75%, 52%) ;
  color:white;
  border-radius:10px;
  font-family:lexend deca;
  text-align: center;
  padding-top:15px;

  

}
.bold{
  font-family: Lexend Deca;
  font-weight: 700;

  
  
}
.price{
  padding-top:5px;
  font-family: Red Hat Display;
  
}
.five{
position:relative;
top:40px;
  font-weight:900;
  
  font-family: Red Hat Display;
 
  font-size:20px;

}
@media(min-width:375px) and (max-width:804){
  .container{
    display:flex;
  }

}